body {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #9776b3;
    position: relative;
    background-image:
            linear-gradient(225deg, #9776b3, #423053),
            linear-gradient(135deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, transparent 75%, transparent),
            linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, transparent 75%, transparent);

    background-size: 20px 20px;
    background-repeat: repeat;
}
